<div id="page">
  <!-- Fixed Navbar -->
  <header class="fixed-header dark-header">
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-header">
              <!-- Button For Responsive toggle -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
              <!-- Logo -->
              <a class="navbar-brand" routerLink='inicio'>
                <img class="site_logo" alt="Site Logo" src="../../assets/img/logo.png" />
              </a></div>
            <!-- Navbar Collapse -->
            <div class="navbar-collapse collapse">
              <!-- nav -->
              <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                  <a routerLink='inicio'>Inicio</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink='Acercade'>Acerca de</a>
                </li>
                <li>
                  <a href="#">Portfolio</a>
                </li>
                <li>
                  <a href="#">Shop</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">Shortcodes</a>
                </li>
                <li class="search-dropdown">
                  <a href="#">
                    <span class="searchbox-icon">
                      <i class="fa fa-search"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu left">
                    <li>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" value="" name="s" id="s" class="form-control" placeholder="search" />
                        </div>
                      </form>
                    </li>
                  </ul>
                </li>
                <!-- Ends Search Box Block -->
              </ul>
              <!-- Right nav -->
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- navbar -->
  </header>
  <!-- Ends Fixed Header -->

  <router-outlet></router-outlet>
  <br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- page-section -->
  <div id="get-quote" class="bg-color get-a-quote black text-center" data-appear-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">Get A Free Quote / Need a Help ?
          <a class="black" href="#">Contact Us</a></div>
      </div>
    </div>
  </div>
  <!-- request -->
  <footer id="footer">
    <div class="footer-widget dark-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">About Us</h3>
            </div>
            <!-- Text -->
            <p>We like to provide great site with complete features what you want to impletement in your business!</p>
            <!-- Address -->
            <p>
              <strong>Office:</strong> Zozotheme.com
              <br />No. 12, Ribon Building,
              <br />Walse street, Australia.</p>
            <!-- Phone -->
            <p>
              <strong>Call Us:</strong> +0 (123) 456-78-90 or
              <br />+0 (123) 456-78-90</p>
            <!-- Social Links -->
            <div class="social-icon gray-bg icons-circle i-3x">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 widget newsletter bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Newsletter Signup</h3>
            </div>
            <div>
              <!-- Text -->
              <p>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
              <p class="form-message1" style="display: none;"></p>
              <div class="clearfix"></div>
              <!-- Form -->
              <form id="subscribe_form" action="http://zozothemes.com/html/mist/light/subscription.php" method="post"
                name="subscribe_form" role="form">
                <div class="input-text form-group has-feedback">
                  <input class="form-control" type="email" value="" name="subscribe_email" />
                  <button class="submit bg-color" type="submit">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </button></div>
              </form>
            </div>
            <!-- Social Links -->
            <div class="social-icon gray-bg icons-circle i-3x">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a></div>
          </div>
          <!-- .newsletter -->
          <div class="col-xs-12 col-sm-6 col-md-4 widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Instagram Photos</h3>
            </div>
            <div class="social-feed instagram-footer-feed my-feeds"></div>
            <!-- Count -->
            <div class="footer-count">
              <p class="count-number" data-count="93550">total downloads :
                <span class="counter"></span>34567</p>
            </div>
            <div class="footer-count">
              <p class="count-number" data-count="79550">happy clients :
                <span class="counter"></span>34553</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-top -->
    <div class="copyright dark-section">
      <div class="container">
        <div class="row">
          <!-- Copyrights -->
          <div class="col-xs-10 col-sm-6 col-md-6"> &copy; 2015 <a href="http://zozothemes.com/">zozothemes.com</a>.
            Creative Agency.
            <br />
            <!-- Terms Link -->

            <a href="#">Terms of Use</a> /
            <a href="#">Privacy Policy</a></div>
          <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">

          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom -->
  </footer>
  <!-- footer -->
</div>
<!-- page -->