<div id="page">
  <div id="pageloader">
    <div class="loader-item fa fa-spin text-color"></div>
  </div>
  <!-- Fixed Navbar -->
  <header class="fixed-header dark-header">
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-header">
              <!-- Button For Responsive toggle -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
              <!-- Logo -->

              <a class="navbar-brand" href="index.html">
                <img class="site_logo" alt="Site Logo" src="../../assets/img/logo.png" />
              </a></div>
            <!-- Navbar Collapse -->
            <div class="navbar-collapse collapse">
              <!-- nav -->
              <ul class="nav navbar-nav">
                <!-- Home  Mega Menu -->
                <li class="mega-menu">
                  <a href="#">Home</a>
                  <ul class="dropdown-menu">
                    <li>
                      <!-- Home Mage Menu grids Begins -->
                      <div class="row">
                        <!-- Home Variation 1 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Home Variations</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="index-corporate.html">Home - Corporate</a>
                            </div>
                            <div>
                              <a href="index-business.html">Home - Business</a>
                            </div>
                            <div>
                              <a href="index-creative.html">Home - Creative</a>
                            </div>
                            <div>
                              <a href="index-medical.html">Home - Medical</a>
                            </div>
                          </div>
                        </div>
                        <!-- Home Variation 1 Block -->
                        <!-- Home Variation 2 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Home Variations</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="index-blog.html">Home - Blog</a>
                            </div>
                            <div>
                              <a href="index-magazine.html">Home - Magazine</a>
                            </div>
                            <div>
                              <a href="index-law.html">Home - Law</a>
                            </div>
                          
                          </div>
                        </div>
                        <!-- Home Variation 2 Block -->
                        <!-- One Page variation 1 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">One Page</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="index-onepage-corporate.html">Corporate</a>
                            </div>
                            <div>
                              <a href="index-onepage-business.html">Business</a>
                            </div>
                          
                          </div>
                        </div>
                        <!-- One Page variation 1 -->
                        <!-- One Page variation 2 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">One Page</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="index-onepage-law.html">Law</a>
                            </div>
                            <div>
                              <a href="index-wedding.html">Wedding</a>
                            </div>

                          </div>
                        </div>
                        <!-- One Page variation 2 -->
                      </div>
                      <!-- Ends Home Mage Menu Block -->
                    </li>
                  </ul>
                </li>
                <!-- Mega Menu Ends -->
                <!-- Pages Mega Menu -->
                <li class="mega-menu">
                  <a href="#">Pages</a>
                  <ul class="dropdown-menu">
                    <li>
                      <!-- Home Mage Menu grids Begins -->
                      <div class="row">
                        <!-- Home Variation 1 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Introduction</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="about-us.html">About Us</a>
                            </div>
                            <div>
                              <a href="about-us-2.html">About Us - Layout2</a>
                            </div>
                         
                          </div>
                        </div>
                        <!-- Home Variation 1 Block -->
                        <!-- Home Variation 2 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Utility</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="services.html">Services - Layout1</a>
                            </div>
                            <div>
                              <a href="services-2.html">Services - Layout2</a>
                            </div>
                           
                          </div>
                        </div>
                        <!-- Home Variation 2 Block -->
                        <!-- One Page variation 1 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Page Layout</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="full-width.html">Full Width</a>
                            </div>
                            <div>
                              <a href="full-width-wide.html">Full Width - Wide</a>
                            </div>
                            <div>
                              <a href="boxed.html">Boxed Layout</a>
                            </div>
                           
                          </div>
                        </div>
                        <!-- One Page variation 1 -->
                        <!-- One Page variation 2 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Miscellaneous</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="pricing.html">Pricing Table</a>
                            </div>
                            <div>
                              <a href="login.html">Login / Registration</a>
                            </div>
                           
                          </div>
                        </div>
                        <!-- One Page variation 2 -->
                      </div>
                      <!-- Ends Home Mage Menu Block -->
                    </li>
                  </ul>
                </li>
                <!-- Pages Menu Ends -->
                <!-- Portfolio Menu -->
                <li>
                  <a href="#">Portfolio</a>
                  <!-- Portfolio Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <!-- Portfolio Grid Block -->
                    <li>
                      <a href="#">Grid</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-grid-2.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-3.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Grid Block -->
                    <li>
                      <a href="#">Grid Gutter</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-grid-2-gutter.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-3-gutter.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4-gutter.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Grid Block -->
                    <!-- Portfolio Grid Block -->
                    <li>
                      <a href="#">Grid Full Width</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-grid-2-full-width.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-3-full-width.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4-full-width.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Grid Block -->
                    <!-- Portfolio Grid Block -->
                    <li>
                      <a href="#">Grid Wide Gutter</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-grid-2-full-width-gutter.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-3-full-width-gutter.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4-full-width-gutter.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Grid Block -->
                    <!-- Portfolio Masonry Block -->
                    <li>
                      <a href="#">Masonry</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-masonry-2.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-3.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Masonry Block -->
                    <!-- Portfolio Masonry Block -->
                    <li>
                      <a href="#">Masonry Gutter</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-masonry-2-gutter.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-3-gutter.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4-gutter.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Masonry Block -->
                    <!-- Portfolio Masonry Block -->
                    <li>
                      <a href="#">Masonry Full Width</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-masonry-2-full-width.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-3-full-width.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4-full-width.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Masonry Block -->
                    <!-- Portfolio Masonry Block -->
                    <li>
                      <a href="#">Masonry Wide Gutter</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-masonry-2-full-width-gutter.html">2 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-3-full-width-gutter.html">3 Column</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4-full-width-gutter.html">4 Column</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Masonry Block -->
                    <li>
                      <a href="portfolio-list.html">List</a>
                    </li>
                    <!-- Portfolio Single Block -->
                    <li>
                      <a href="#">Single</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="portfolio-single.html">Default</a>
                        </li>
                        <li>
                          <a href="portfolio-parallax.html">Parallax</a>
                        </li>
                        <li>
                          <a href="portfolio-extended.html">Extended</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Portfolio Single Block -->
                  </ul>
                  <!-- Portfolio Dropdown Menu -->
                </li>
                <!-- Portfolio Menu -->
                <!-- Shop Menu -->
                <li>
                  <a href="#">Shop</a>
                  <!-- Shop Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li>
                      <a href="shop-grid-4.html">4 Column</a>
                    </li>
                    <!-- Shop 3 Column Block -->
                    <li>
                      <a href="#">3 Column</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="shop-grid-3.html">Full Width</a>
                        </li>
                        <li>
                          <a href="shop-grid-3-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-grid-3-left-sidebar.html">Left Sidebar</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Shop 3 Column Block -->
                    <!-- Shop 2 Column Block -->
                    <li>
                      <a href="#">2 Column</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="shop-grid-2-both-sidebar.html">Both Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-grid-2-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-grid-2-left-sidebar.html">Left Sidebar</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Shop 3 Column Block -->
                    <!-- List Product Block -->
                    <li>
                      <a href="#">List Product</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="shop-list.html">Full Width</a>
                        </li>
                        <li>
                          <a href="shop-list-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-list-left-sidebar.html">Left Sidebar</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends List Product Block -->
                    <!-- Shop Single Block -->
                    <li>
                      <a href="#">Shop Single</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="shop-single-fullwidth.html">Full Width</a>
                        </li>
                        <li>
                          <a href="shop-single-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-single-left-sidebar.html">Left Sidebar</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Shop Single Block -->
                  </ul>
                  <!-- Ends Shop Dropdown Menu -->
                </li>
                <!-- Ends Shop Menu -->
                <!-- Features Menu -->
                <li>
                  <a href="#">Features</a>
                  <!-- Features Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <!-- Header Block -->
                    <li>
                      <a href="#">Header</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="header1.html">Simple Header</a>
                        </li>
                        <li>
                          <a href="header2.html">Fixed Header</a>
                        </li>
                        
                      </ul>
                    </li>
                    <!-- Ends Header Block -->
                    <!-- Footer Block -->
                    <li>
                      <a href="#">Footer</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="footer1.html">Footer Style 1 - Light</a>
                        </li>
                        <li>
                          <a href="footer2.html">Footer Style 1 - Dark</a>
                        </li>
                       
                      </ul>
                    </li>
                    <!-- Ends Footer Block -->
                    <!-- Page Title Block -->
                    <li>
                      <a href="#">Page Title</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="pagetitle-default.html">Page Title 1</a>
                        </li>
                        <li>
                          <a href="pagetitle-left.html">Page Title 2</a>
                        </li>
                        
                      </ul>
                    </li>
                    <!-- Page Title Block -->
                    <!-- Slider Block -->
                    <li>
                      <a href="#">Slider</a>
                      <!-- Slider Dropdown -->
                      <ul class="dropdown-menu left">
                        <!-- Revolution Slider Menu -->
                        <li>
                          <a href="#">Revolution Slider</a>
                          <!-- Revolution Slider Dropdown -->
                          <ul class="dropdown-menu left">
                            <li>
                              <a href="revolution-slider.html">Default</a>
                            </li>
                            <li>
                              <a href="revolution-slider-2.html">Full screen-KenBurns</a>
                            </li>
                            <li>
                              <a href="revolution-slider-3.html">Mouse Parallax</a>
                            </li>
                            <li>
                              <a href="revolution-slider-4.html">Scroll Parallax</a>
                            </li>
                          </ul>
                          <!-- Ends Revolution Slider Dropdown -->
                        </li>
                        <!-- Ends Revolution Slider Menu -->
                        <!-- Owl Slider Menu -->
                        <li>
                          <a href="#">Owl Slider</a>
                          <!-- Owl Slider Dropdown -->
                          <ul class="dropdown-menu left">
                            <li>
                              <a href="owl-slider.html">Default</a>
                            </li>
                            <li>
                              <a href="owl-slider-fade.html">Fade</a>
                            </li>
                            <li>
                              <a href="owl-slider-backslide.html">Back Slide</a>
                            </li>
                            <li>
                              <a href="owl-slider-godown.html">Go Down</a>
                            </li>
                            <li>
                              <a href="owl-slider-fadeup.html">Fade Up</a>
                            </li>
                          </ul>
                          <!-- Ends Owl Slider Dropdown -->
                        </li>
                        <!-- Ends Owl Slider Menu -->
                        <!-- Carousel Slider Menu -->
                        <li>
                          <a href="#">Carousel Slider</a>
                          <!-- Carousel Slider Dropdown -->
                          <ul class="dropdown-menu left">
                            <li>
                              <a href="carousel-slider.html">Slide</a>
                            </li>
                            <li>
                              <a href="carousel-slider-fade.html">Fade</a>
                            </li>
                          </ul>
                          <!-- Ends Carousel Slider Dropdown -->
                        </li>
                        <!-- Ends Carousel Slider Menu -->
                        <li>
                          <a href="parallax-slider.html">Parallax Slider</a>
                        </li>
                        <li>
                          <a href="text-slider.html">Text Slider</a>
                        </li>
                        <li>
                          <a href="videobg-slider.html">Video Slider</a>
                        </li>
                      </ul>
                      <!-- Ends Slider Dropdown -->
                    </li>
                    <!-- Ends Slider Block -->
                    <!-- Widgets Block -->
                    <li>
                      <a href="#">Widgets</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="page-sidebar.html">Instagram Feed</a>
                        </li>
                        <li>
                          <a href="page-sidebar.html">Pinterest Feed</a>
                        </li>
                     
                      </ul>
                    </li>
                    <!-- Ends Widgets Block -->
                    <li>
                      <a href="email-template.html">Email Template</a>
                    </li>
                    <!-- Video Background Block -->
                    <li>
                      <a href="#">Video Background</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="youtube-video-bg.html">Youtube Video</a>
                        </li>
                        <li>
                          <a href="local-video-bg.html">Local Hosted Video</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Video Background Block -->
                    <li>
                      <a href="sitemap.html">Sitemap</a>
                    </li>
                    <!-- Video Background Block -->
                    <li>
                      <a href="#">Additional</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="index-onepage-mailchimp.html">Mailchimp</a>
                        </li>
                        <li>
                          <a href="index-onepage-register.html">Register Form</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Ends Video Background Block -->
                  </ul>
                  <!-- Ends Features Dropdown Menu -->
                </li>
                <!-- Ends Features Menu -->
                <!-- Blog Menu -->
                <li>
                  <a href="#">Blog</a>
                  <!-- Blog Dropdown Menu -->
                  <ul class="dropdown-menu left">
                    <!-- Blog Grid Block -->
                    <li>
                      <a href="#">grid</a>
                      <!-- Blog Grid Dropdown -->
                      <ul class="dropdown-menu left">
                        <!-- Blog Grid Menu -->
                        <li>
                          <a href="#">grid 2</a>
                          <!-- Blog Grid Dropdown -->
                          <ul class="dropdown-menu left">
                            <li>
                              <a href="blog-grid-2.html">Default</a>
                            </li>
                            <li>
                              <a href="blog-grid-2-right-sidebar.html">Right Sidebar</a>
                            </li>
                            <li>
                              <a href="blog-grid-2-left-sidebar.html">Left Sidebar</a>
                            </li>
                          </ul>
                          <!-- Ends Blog Grid Dropdown -->
                        </li>
                        <!-- Ends Blog Grid Menu -->
                        <li>
                          <a href="blog-grid-3.html">Blog Grid3</a>
                        </li>
                        <li>
                          <a href="blog-grid-4.html">Blog Grid4</a>
                        </li>
                      </ul>
                      <!-- Ends Blog Grid Dropdown -->
                    </li>
                    <!-- Ends Blog Grid Block -->
                    <!-- Blog Masonry Block -->
                    <li>
                      <a href="#">Masonry</a>
                      <!-- Blog Masonry Dropdown -->
                      <ul class="dropdown-menu left">
                        <!-- Blog Masonry Menu -->
                        <li>
                          <a href="#">Masonry 2</a>
                          <!-- Blog Masonry Dropdown -->
                          <ul class="dropdown-menu left">
                            <li>
                              <a href="blog-masonry-2.html">Default</a>
                            </li>
                            <li>
                              <a href="blog-masonry-2-right-sidebar.html">Right Sidebar</a>
                            </li>
                            <li>
                              <a href="blog-masonry-2-left-sidebar.html">Left Sidebar</a>
                            </li>
                          </ul>
                          <!-- Ends Blog Masonry Dropdown -->
                        </li>
                        <!-- Ends Blog Masonry Menu -->
                        <li>
                          <a href="blog-masonry-3.html">Masonry 3</a>
                        </li>
                        <li>
                          <a href="blog-masonry-4.html">Masonry 4</a>
                        </li>
                      </ul>
                      <!-- Ends Blog Masonry Dropdown -->
                    </li>
                    <!-- Ends Blog Masonry Block -->
                    <li>
                      <a href="blog-list.html">List</a>
                    </li>
                    <!-- Blog Single Block -->
                    <li>
                      <a href="#">Single</a>
                      <!-- Blog Single Dropdown -->
                      <ul class="dropdown-menu">
                        <li>
                          <a href="blog-single-fullwidth.html">Full Width</a>
                        </li>
                        <li>
                          <a href="blog-single-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="blog-single-left-sidebar.html">Left Sidebar</a>
                        </li>
                        <li>
                          <a href="blog-single-split.html">Split</a>
                        </li>
                      </ul>
                      <!-- Ends Blog Single Dropdown -->
                    </li>
                    <!-- Ends Blog Single Block -->
                    <!-- Blog Timeline Block -->
                    <li>
                      <a href="#">Timeline</a>
                      <!-- Blog Timeline Dropdown -->
                      <ul class="dropdown-menu">
                        <li>
                          <a href="time-line.html">Full Width</a>
                        </li>
                        <li>
                          <a href="time-line-right-sidebar.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="time-line-left-sidebar.html">Left Sidebar</a>
                        </li>
                      </ul>
                      <!-- Ends Blog Timeline Dropdown -->
                    </li>
                    <!-- Ends Blog Timeline Block -->
                  </ul>
                  <!-- Blog Dropdown Menu -->
                </li>
                <!-- Blog Menu -->
                <!-- Contact Block -->
                <li>
                  <a href="#">Contact</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="contact.html">Contact Style 1</a>
                    </li>
                    <li>
                      <a href="contact-2.html">Contact Style 2</a>
                    </li>
                    <li>
                      <a href="contact-3.html">Contact Style 3</a>
                    </li>
                    <li>
                      <a href="contact-4.html">Contact Style 4</a>
                    </li>
                    <li>
                      <a href="contact-5.html">Contact Style 5</a>
                    </li>
                    <li>
                      <a href="contact-6.html">Contact Style 6</a>
                    </li>
                  </ul>
                </li>
                <!-- Ends Widgets Block -->
                <!-- Pages Mega Menu -->
                <li class="mega-menu">
                  <a href="#">Shortcodes</a>
                  <ul class="dropdown-menu">
                    <li>
                      <!-- Shortcodes Mega Menu grids Begins -->
                      <div class="row">
                        <!-- Shortcodes Variation 1 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Shortcodes</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="animations.html">
                                <i class="fa fa-magic"></i> Animations</a>
                            </div>
                            <div>
                              <a href="carousel.html">
                                <i class="fa fa-heart"></i> Carousel</a>
                            </div>
                            <div>
                              <a href="columns.html">
                                <i class="fa fa-th"></i> Columns</a>
                            </div>
                            <div>
                              <a href="tabs.html">
                                <i class="fa fa-tasks"></i> Tabs</a>
                            </div>
                            <div>
                              <a href="charts.html">
                                <i class="fa fa-bar-chart"></i> Charts</a>
                            </div>
                          </div>
                        </div>
                        <!-- Shortcodes Variation 1 Block -->
                        <!-- Shortcodes Variation 2 Block -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Shortcodes</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="counters.html">
                                <i class="fa fa-clock-o"></i> Counters</a>
                            </div>
                            <div>
                              <a href="pie-skills.html">
                                <i class="fa fa-pie-chart"></i> Pie / Skills</a>
                            </div>
                            <div>
                              <a href="maps.html">
                                <i class="fa fa-globe"></i> Google Maps</a>
                            </div>
                            <div>
                              <a href="social-icons.html">
                                <i class="fa fa-facebook"></i> Social Icons</a>
                            </div>
                            <div>
                              <a href="icons.html">
                                <i class="fa fa-flag"></i> Icons</a>
                            </div>
                          </div>
                        </div>
                        <!-- Shortcodes Variation 2 Block -->
                        <!-- Bootstrap variation 1 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Bootstrap</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="bootstrap-accordions.html">
                                <i class="fa fa-cubes"></i> Accordions</a>
                            </div>
                            <div>
                              <a href="bootstrap-alerts.html">
                                <i class="fa fa-warning"></i> Alerts</a>
                            </div>
                            <div>
                              <a href="bootstrap-buttons.html">
                                <i class="fa fa-toggle-on"></i> Buttons</a>
                            </div>
                            <div>
                              <a href="bootstrap-forms.html">
                                <i class="fa fa-newspaper-o"></i> Forms</a>
                            </div>
                            <div>
                              <a href="bootstrap-divst-group.html">
                                <i class="fa fa-list"></i> List Group</a>
                            </div>
                          </div>
                        </div>
                        <!-- Bootstrap variation 1 -->
                        <!-- Bootstrap variation 2 -->
                        <div class="col-sm-3">
                          <!-- Title -->
                          <h6 class="title">Bootstrap</h6>
                          <!-- Links -->
                          <div class="page-links">
                            <div>
                              <a href="bootstrap-panels.html">
                                <i class="fa fa-keyboard-o"></i> Panels</a>
                            </div>
                            <div>
                              <a href="bootstrap-tables.html">
                                <i class="fa fa-table"></i> Tables</a>
                            </div>
                            <div>
                              <a href="bootstrap-tabs.html">
                                <i class="fa fa-tasks"></i> Tabs</a>
                            </div>
                            <div>
                              <a href="bootstrap-tooltips.html">
                                <i class="fa fa-comment"></i> Tooltip</a>
                            </div>
                            <div>
                              <a href="bootstrap-typography.html">
                                <i class="fa fa-text-width"></i> Typography</a>
                            </div>
                          </div>
                        </div>
                        <!-- Bootstrap variation 2 -->
                      </div>
                      <!-- Ends Shortcode Mage Menu Block -->
                    </li>
                  </ul>
                </li>
                <!-- Shortcode Menu Ends -->
                <!-- Search Box Block -->
                <li class="search-dropdown">
                  <a href="#">
                    <span class="searchbox-icon">
                      <i class="fa fa-search"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu left">
                    <li>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" value="" name="s" id="s" class="form-control" placeholder="search" />
                        </div>
                      </form>
                    </li>
                  </ul>
                </li>
                <!-- Ends Search Box Block -->
              </ul>
              <!-- Right nav -->
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- navbar -->
  </header>
  <!-- Ends Fixed Header -->


  <router-outlet></router-outlet>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br>


  <!-- page-section -->
  <div id="get-quote" class="bg-color get-a-quote black text-center" data-appear-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">Get A Free Quote / Need a Help ?
          <a class="black" href="#">Contact Us</a></div>
      </div>
    </div>
  </div>
  <!-- request -->
  <footer id="footer">
    <div class="footer-widget dark-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">About Us</h3>
            </div>
            <!-- Text -->
            <p>We like to provide great site with complete features what you want to impletement in your business!</p>
            <!-- Address -->
            <p>
              <strong>Office:</strong> Zozotheme.com
              <br />No. 12, Ribon Building,
              <br />Walse street, Australia.</p>
            <!-- Phone -->
            <p>
              <strong>Call Us:</strong> +0 (123) 456-78-90 or
              <br />+0 (123) 456-78-90</p>
            <!-- Social Links -->
            <div class="social-icon gray-bg icons-circle i-3x">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 widget newsletter bottom-xs-pad-20">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Newsletter Signup</h3>
            </div>
            <div>
              <!-- Text -->
              <p>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
              <p class="form-message1" style="display: none;"></p>
              <div class="clearfix"></div>
              <!-- Form -->
              <form id="subscribe_form" action="http://zozothemes.com/html/mist/light/subscription.php" method="post"
                name="subscribe_form" role="form">
                <div class="input-text form-group has-feedback">
                  <input class="form-control" type="email" value="" name="subscribe_email" />
                  <button class="submit bg-color" type="submit">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </button></div>
              </form>
            </div>
            <!-- Social Links -->
            <div class="social-icon gray-bg icons-circle i-3x">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a></div>
          </div>
          <!-- .newsletter -->
          <div class="col-xs-12 col-sm-6 col-md-4 widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title">Instagram Photos</h3>
            </div>
            <div class="social-feed instagram-footer-feed my-feeds"></div>
            <!-- Count -->
            <div class="footer-count">
              <p class="count-number" data-count="93550">total downloads :
                <span class="counter"></span></p>
            </div>
            <div class="footer-count">
              <p class="count-number" data-count="79550">happy clients :
                <span class="counter"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-top -->
    <div class="copyright dark-section">
      <div class="container">
        <div class="row">
          <!-- Copyrights -->
          <div class="col-xs-10 col-sm-6 col-md-6"> &copy; 2015 <a href="http://zozothemes.com/">zozothemes.com</a>.
            Creative Agency.
            <br />
            <!-- Terms Link -->

            <a href="#">Terms of Use</a> /
            <a href="#">Privacy Policy</a></div>
          <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
            <!-- Goto Top -->
            <a href="#page">
              <i class="glyphicon glyphicon-arrow-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom -->
  </footer>
  <!-- footer -->
</div>
<!-- page -->